body {
    background-color: #101010ff;
}

.article-title {
    font-size: 24px;
    color: #BEADFA;
    font-weight: bold;
}

.article-date {
    font-size: 18px;
    color: #8ab5f7ff;
}

.article-authors {
    color: white;
    font-size: 18px;
}

.right-align {
    margin-left: auto;
    margin-right: 0;
}

.article-content {
    color: white;
    text-align: justify;
    float: none;
    font-size: 16px;
}

.image-styling {
    float: left;
    width: 170px;
}

.bottom-text {
    color: #8ab5f7ff;
    text-align: center;
    font-size: 23px;
    display: block;
    margin: auto;
}

.underlined {
    text-decoration: underline;
}